<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <a class='navbar-brand' href='/'>FED Courses</a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-1/673987995_122116788093232121_1681321543925107244_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=108&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeGDqw17JJavn032do29C9LQizJqhbM1qGCLMmqFszWoYG3pxTzQc707et730OZdEnnfruJkk8EcpYxri_wufE38&_nc_ohc=JFDru19asQsQ7kNvwGiNLzj&_nc_oc=Adr8O9PeHQ1mycM2nEbcTxEOQtVPrdI-RyrixfIsAnXaVnvyp3sE28U1DFhAnj0Ov0AAIJFofxi4jj2Xw397-ELX&_nc_zt=24&_nc_ht=scontent.fhan14-2.fna&_nc_gid=-VDOm64kk5NvX87E4vGJlA&oh=00_Af0RHfjbHcFu2EjkNyZ1PgWslid2lYI-6FcjsVcIkdX6qA&oe=69F0ED9B" alt="" class="user-avatar">
                        Hoàng Trung
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/courses/create">Đăng Khóa Học</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
                        <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>